@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-10">La mejor forma de consentir a tu vehiculo</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div>
    <p>Mantenimiento TIC es una empresa automotriz que ofrece </p>
    <p>el servicio de mantenimiento preventivopara su vehiculo.</p>
    <p>Contamos con el mejor equipo capacitado y de calidad</p>
    <p>para ofrecerles un excelente servicio.</p>
</div>
<div>
    <i class="fa fa-plus"></i>
    <a asp-page= "Cliente/CrearCliente">Registrarse</a>
    

</div>