@page
@model Frontend.Pages.CrearClienteModel// MyApp.Namespace.CrearClienteModel
@{
}
<div class="justify-content-center text-center">
    <h1>Ingresar Nuevo Cliente</h1>
    <br>
</div>
<div class="row">
    <div class= "col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cliente.Nombre" class="control-label"></label>
                <input asp-for="cliente.Nombre" class="form-control" />
                <span asp-validation-for="cliente.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cliente.Apellido" class="control-label"></label>
                <input asp-for="cliente.Apellido" class="form-control" />
                <span asp-validation-for="cliente.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cliente.Cedula" class="control-label"></label>
                <input asp-for="cliente.Cedula" class="form-control" />
                <span asp-validation-for="cliente.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cliente.NumeroTelefono" class="control-label"></label>
                <input asp-for="cliente.NumeroTelefono" class="form-control" />
                <span asp-validation-for="cliente.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <input type="submit" value="Registrar" class="btn btn-primary"/>          
                
            </div>
        </form>
    </div>
</div>
